*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-Color:#0f172a;
    --primaryColor:linear-gradient(90deg,#3987e9,#23c068);
    --SecondaryColor:linear-gradient(90deg,#7046ee,#3f7cf5);
    --accentColorColor:#0b1220;
    --textColor:#fdfdfd;
}

.background{
    background: var(--background-Color);
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
.titleContainer{
    display: flex;
    flex-direction: column;
}

h1{

    color: var(--textColor);
    font-weight: 800;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}


.container{
    display: flex;
    gap: 3rem;
    width: 100%;
}

.calculatorContainer{
    background: #5c616d48;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid #7a747499;

    padding: 5.8rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
    
.inputContainer{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin: 1.3rem auto;
}

.weightBody,.ScoreBody,.courseBody{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.courseBody span{
    color: #0f172a;
    padding-left: .2rem;
    font-weight: 700;
}

.inputLabel{
    font-size: 1.2rem;
    color: var(--textColor);

    margin-bottom: .4rem;
}

.inputCourse{
    flex: 1;
    padding: .7rem 2.3rem;
    border: solid .1rem #7a747499;
    border-radius: .8rem;
    background: var(--accentColorColor);

    color: var(--textColor);
}

input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;   
}

.buttonContainer{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.buttonContainer button{
    flex: 1;
    padding: 1rem 0;
    border-radius:1rem;
    outline: none;
    border: none;
    color: var(--textColor);
    font-size: 1.2rem;
    cursor: pointer;
}

#addBtn{
    background:var(--primaryColor);
}

#addBtn:hover{
    background: linear-gradient(90deg,#23c068,#3987e9);    
}

#clearBtn{
    background:var(--SecondaryColor);
}

#clearBtn:hover{
    background: linear-gradient(90deg,#3f7cf5,#7046ee);    
}


/* style for result container  */

.resultContainer{
    background: #5c616d48;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border: 1px solid #7a747499;

    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.weightTotalContainer h3, .letterGradeContainer h3{
    color: var(--background-Color);
    padding-bottom: .8rem;
}

.letterGrade{
    background: #b107075d;
    padding: .5rem;
    border: solid .1rem #860000;
    border-radius: 3rem;
    display: none;
}

.weightTotal,.letterGrade{
    color: var(--textColor);
    font-size: 1.5rem;
}

table.steelBlueCols {
  width: 41rem;
  text-align: center;
  border-collapse: collapse;
}
table.steelBlueCols td, table.steelBlueCols th {
  padding: 1rem 1.2rem;
}
table.steelBlueCols tbody td {
  font-size: 1rem;
  font-weight: bold;
  color: var(--textColor);
}

table.steelBlueCols thead {
  border-bottom: .2rem solid var(--accentColorColor);
}

table.steelBlueCols thead th {  
  font-size: 1.1rem;
  font-weight: bolder;
  color: var(--accentColorColor);
  text-align: left;
}


.actionContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
.actionBtn{
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 600;

    padding: .5rem 1rem;
    border-radius: .3rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.saveBtn{
    background-color:#7652e4eb;
    color: var(--textColor);
}

.saveBtn:hover{
    background-color:#573ca7eb;
    
}
.deleteBtn{
    background-color: #c50505;
    color: var(--textColor);

}

.deleteBtn:hover{
    background-color:#860000;
   
}

/* Pop Section */

/* Warning Pop Up */
.warningContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    max-width: 33rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-color: var(--textColor);
    border-radius: .6rem;
    visibility:hidden;
    box-shadow: 0 3px 20px #0c0707a0;


}

.warningSign{
    width: 100%;
    background-color: #e60606;
    padding: .7rem 0;
    border-radius: .6rem .6rem 0 0 ;


}

.warningSign svg{
    width: 20%;
    fill: var(--textColor);
}

.warningDescription{
    margin: 1rem 0;

}

.warningDescription h1{
    margin: .8rem 0;
    font-size: 3.1rem;
    color: #0b1220;
}

.warningDescription p{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.warningDescription button{
    padding: .7rem 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;


    font-size: 1.2rem;
    color: var(--textColor);
    background-color: #e60606;
    cursor: pointer;
}

.warningDescription button:hover{
    background-color: #860000;
}


/* Add mobile media query */

@media (max-width:913px) {
    

    .container{
        display: flex;
        flex-direction: column;
    }

    .inputContainer{
        display: flex;
        flex-direction: column;
    }

    .inputCourse{
        padding: .7rem 2rem;
        width: 20.7rem;

    }

    .buttonContainer{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    h1{
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

}